.homePageHeader {
    background-color: grey;
    background-image: url(website-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    height: 600px;
}

 /* Style the top navigation bar */
 
.navbar {
    padding: 0; /* Add some padding */
    overflow: hidden; /* Hide overflow */
    
  }
  
  /* Style the navigation bar links */
  .navbar a {
    float: right;
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    text-align: center; /* Center the text */
    padding: 14px 20px; /* Add some padding */
    text-decoration: none; /* Remove underline */
  }
.dropdown {
    float: right;
    overflow: hidden;
  }
  

.dropdown .dropbtn {  
    background-color: transparent;
    display: block; /* Change the display to block, for responsive reasons (see below) */
    color: white; /* White text color */
    padding: 14px 20px; /* Add some padding */
    border: none;
    outline: none;
    font-size: 16px;
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
  }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }




.text1{
    padding: 100px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Calibri";
    text-align: center;
    font-size: 20px;
    width: 28%
}
