
.homePageHeader {
  background-color: grey;
  background-image: url(website-banner.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  height: 600px;
}

/* Style the top navigation bar */

.homeNavbar {
  padding: 0; /* Add some padding */
  overflow: hidden; /* Hide overflow */
  
}

/* Style the navigation bar links */
.homeNavbar a {
  float: right;
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-family: "Libre Franklin"
}

.homeNavbar .dropdown {
  float: right;
  overflow: hidden;
}


.homeNavbar .dropdown .dropbtn {  
  background-color: transparent;
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  padding: 14px 20px; /* Add some padding */
  border: none;
  outline: none;
  font-size: 100%;
  font-family: "Libre Franklin"
}
.homeNavbar .dropbtn {
  background-color: #ddd;
}
.homeNavbar .dropbtn:hover {
    background-color: rgb(28, 38, 44);
}
.homeNavbar  a:hover{
  background-color: rgb(28, 38, 44);
}
.homeNavbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.homeNavbar .dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.homeNavbar .dropdown-content a:hover {
  background-color: #ddd;
}

.homeNavbar .dropdown:hover .dropdown-content {
  display: block;
}

.text1{
  padding: 100px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Libre Franklin";
  text-align: center;
  font-size: 20px;
  width: 28%
}

.header1 {
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Libre Franklin";
  text-align: Left;
  font-size: 20px;
  width: 70%
}

.text2{
padding: 100px;
margin-left: auto;
margin-right: auto;
font-family: "Libre Franklin";
text-align: Left;
font-size: 20px;
width: 28%
}


.column {
float: left;
width: 33.33%;
}

@media screen and (max-width: 600px) {
.column {
  width: 100%;
}
}

/* Clear floats after the columns */
.row:after {
content: "";
display: table;
clear: both;
}

.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 80%;
}

.center2{
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.center3{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  min-width: 200px;
}

.t-image {
position: relative; /* Declared position allows for location changes */
top: -100px; /* Moves the image 100px closer to the top of the page */
}

.t-image2 {
position: relative; /* Declared position allows for location changes */
top: +60px; /* Moves the image 100px closer to the top of the page */
}

.t-image3 {
position: relative; /* Declared position allows for location changes */
top: +20px; /* Moves the image 100px closer to the top of the page */
}

.t-button { /* adjust events button */
position: relative; /* Declared position allows for location changes */
top: -140px; /* Moves the image 100px closer to the top of the page */
left: +120px;
}

.t-button2 { /* adjust meet the team button */
position: relative; /* Declared position allows for location changes */
top: +70px; /* Moves the image 100px closer to the top of the page */
left: +120px;
}

.t-button3 { /* adjust learn more button */
position: relative; /* Declared position allows for location changes */
left: +40px;
}

.t-button4 { /* adjust join our listserv button */
position: relative; /* Declared position allows for location changes */
left: 490px;
top: -80px;
}

.t-button5 { /* adjust join our listserv button */
position: relative; /* Declared position allows for location changes */
padding-left: 8%;
top: +80px;
}

.t-button6 { /* adjust join our listserv button */
  position: relative; /* Declared position allows for location changes */
  top: +20px;
}

.t-button7 { /* adjust join our listserv button */
  position: relative; /* Declared position allows for location changes */
  top: +20px;
  left: -50px;
}

.t-entry1 { /* adjust text entry box */
  position: relative; /* Declared position allows for location changes */
  top: +15px;
}
.t-entry2 { /* adjust text entry box */
  position: relative; /* Declared position allows for location changes */
  top: +30px;
}
.t-entry3 { /* adjust text entry box */
  position: relative; /* Declared position allows for location changes */
  top: +40px;
}

.button1 { /*first button */
background-color: white; 
border: 2px solid  black;
color: black;
padding: 14px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
transition-duration: 0.4s;
}

.button1:hover {
background-color: black;
color: white;
}

.button2 { /*first button */
background-color: rgb(57, 173, 222); 
border: black;
color: white;
padding: 14px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 24px;
transition-duration: 0.4s;
}

.button2:hover {
background-color: rgb(96, 217, 250); /* Green */
color: white;
}

.button21 { 
  background-color: rgb(57, 173, 222); 
  border: black;
  color: white;
  padding: 10px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition-duration: 0.4s;
}
  

.button3 {
background-color: rgb(0, 0, 0); 
border: 2px solid white;
color: white;

padding: 14px 40px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
transition-duration: 0.4s;
}

.button3:hover {
background-color: white;
color: black;
}

.box{
width: 100%;
height: 250px;
background: black;
}

.btn-space {
margin-right: 80px;
}



.navbar {
  padding-left: 0; /* Add some padding */
  overflow: hidden; /* Hide overflow */
}

/* Style the navigation bar links */
.navbar a {
  float: right;
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: black; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
  font-family: "Libre Franklin"
}

.navbar .dropdown {
  float: right;
  overflow: hidden;
}


.navbar .dropdown .dropbtn {  
  background-color: transparent;
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: black; 
  padding: 14px 20px; /* Add some padding */
  border: none;
  outline: none;
  font-size: 16px;
  font-family: "Libre Franklin";

}
.navbar .dropbtn {
  background-color: black;
}
.navbar .dropbtn:hover {
  background-color: gray;
}
.navbar  a:hover{
  background-color: gray;
}
.navbar .dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.navbar .dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.navbar .dropdown-content a:hover {
  background-color:black;
}

.navbar .dropdown:hover .dropdown-content {
  display: block;
}

.meetText1 {
  color: black;
  font-family: "Fjalla One";
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 30px;
}
.meetText2 {
  color: black;
  font-family: "Fjalla One";
  padding-top: 20px;
  padding-bottom: 0px;
  padding-left: 50px;
  font-size: 20px;
}
.meetText3 {
  color: black;
  font-family: "Fjalla One";
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 45px;
}

.meetText4 {
  color: black;
  font-family: "Fjalla One";
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
}

.column {
  float: left;
}

.left1 {
  padding-left: 15%;
  width: 33%;
  padding-right: 4%;
  padding-top: 10px;
}

.right1 {
  width: 33%;
  padding-top: 10px;
}

.left2 {
  padding-left: 10%;
  width: 23.3333%;
  padding-right: 5%;
  padding-top: 10px;
}
.middle2 {
  width: 23.3333%;
  padding-right: 5%;
  padding-top: 10px;
}
.right2 {
  width: 23.3333%;
  padding-top: 10px;
}
.left3 {
  width: 10%;
}

.right3 {
  width: 90%;
  float: right;
}
.left4 {
  padding-left: 5%;
  width: 26.66666%;
  padding-right: 7%;
  padding-top: 10px;
}
.middle4 {
  width: 26.66666%;
  padding-right: 5%;
  padding-top: 10px;
}
.right4 {
  width:26.66666%;
  padding-top: 10px;
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

hoverImage {
  position: relative
}

hoverImage span1 {
  overflow: auto;
  display: none;
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 2.5%;
  background: rgba(24, 23, 23, 0.8);
  font-family: "Trebuchet MS";
  font-size:calc(8px + 0.5vw);
  color: rgb(196, 189, 189);
  max-height: 500%;
}

hoverImage:hover span1 {
  display: block
}

hoverImage span {
  overflow: auto;
  display: none;
  position: absolute;
  bottom: 0;
  width: 95%;
  padding: 2.5%;
  background: rgba(24, 23, 23, 0.8);
  font-family: "Trebuchet MS";
  font-size:calc(8px + 0.5vw);
  color: rgb(196, 189, 189);
  max-height: 300%;
}

hoverImage:hover span {
  display: block
}
.column2 {
  float: left;
  width: 33%;
  padding: 1.5px;
}

.img-blockchain {
  float:  left;
  width:  100%;
  height: auto;
  background-image: url(blockchain.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100%;
}

.img-quantopian {
  float:  left;
  width:  100%;
  height: auto;
  background-image: url(quantopian.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100%;
}

.img-WIBXFINTECH {
  float:  left;
  width:  100%;
  height: auto;
  background-image: url(WIBXFINTECH.jpg);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 100%;
}

.column2Text {
  float: left;
  width: 30%;
  padding-right: 48px;
}

.eventsText {
  color: black;
  text-align: justify;
  font-family: "Fjalla One";
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.bottomEventsText {
  color: #B0C4DE;
  font-family: "Fjalla One";
  padding-top: 30px;
  padding-left: 8%;
  padding-right: 8%;
  padding-bottom: 30px;
  font-size: 20px;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 30%;
  height: 350px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}

input {
  width: 100%;
}

textarea {
  width: 100%;
  resize: none;
  height: 100px;
}

